# Goal:
1. to build a model that predicts conversion rate and
2. based on the model, come up with ideas to improve revenue.

In [4]:
import pandas as pd

In [12]:
data = pd.read_csv('../DS-Take-Home-master/1.conversion/conversion_data.csv')

In [14]:
data.shape

(316200, 6)

In [15]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 316200 entries, 0 to 316199
Data columns (total 6 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   country              316200 non-null  object
 1   age                  316200 non-null  int64
 2   new_user             316200 non-null  int64
 3   source               316200 non-null  object
 4   total_pages_visited  316200 non-null  int64
 5   converted            316200 non-null  int64
dtypes: int64(4), object(2)
memory usage: 14.5+ MB

In [17]:
data.head()

  country  age  new_user source  total_pages_visited  converted
0      UK   25         1    Ads                    1          0
1      US   23         1    Seo                    5          0
2      US   28         1    Seo                    4          0
3   China   39         1    Seo                    5          0
4      US   30         1    Seo                    6          0